{
  "payload": {
    "fvTenant": {
      "attributes": {
        "dn": "uni/tn-Testing_Ansible",
        "status": "modified"
      },
      "children": [
        {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-Ansible_BD",
              "name": "Ansible_BD",
              "rn": "BD-Ansible_BD",
              "status": "created"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              }
            ]
          }
        },
        {
          "fvCtx": {
            "attributes": {
              "dn": "uni/tn-Testing_Ansible/ctx-Ansible_vrf",
              "name": "Ansible_vrf",
              "rn": "ctx-Ansible_vrf",
              "status": "created"
            },
            "children": []
          }
        }
      ]
    }
  }
}
