{
  "payload": {
    "fvTenant": {
      "attributes": {
        "dn": "uni/tn-{{ tenant_name }}",
        "status": "created,modified"
      },
      "children": [
        {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-{{ tenant_name }}/BD-{{ bd_name }}",
              "name": "{{ bd_name }}",
              "rn": "BD-{{ bd_name }}",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "{{ vrf_name }}"
                  },
                  "children": []
                }
              }
            ]
          }
        },
        {
          "fvCtx": {
            "attributes": {
              "dn": "uni/tn-{{ tenant_name }}/ctx-{{ vrf_name }}",
              "name": "{{ vrf_name }}",
              "rn": "ctx-{{ vrf_name }}",
              "status": "created,modified"
            },
            "children": []
          }
        }
      ]
    }
  }
}
