{
  "payload": {
    "fvTenant": {
      "attributes": {
        "dn": "uni/tn-Testing_Ansible",
        "status": "created,modified"
      },
      "children": [
                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-10.1.201.0_24",
              "name": "10.1.201.0_24",
              "rn": "BD-10.1.201.0_24",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "10.1.201.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-10.1.200.0_24",
              "name": "10.1.200.0_24",
              "rn": "BD-10.1.200.0_24",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "10.1.200.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-10.1.203.0_24",
              "name": "10.1.203.0_24",
              "rn": "BD-10.1.203.0_24",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "10.1.203.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-10.1.202.0_24",
              "name": "10.1.202.0_24",
              "rn": "BD-10.1.202.0_24",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "10.1.202.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
                        ,
        {
          "fvCtx": {
            "attributes": {
              "dn": "uni/tn-Testing_Ansible/ctx-Ansible_vrf",
              "name": "Ansible_vrf",
              "rn": "ctx-Ansible_vrf",
              "status": "created,modified"
            },
            "children": []
          }
        }
      ]
    }
  }
}
