{
  "payload": {
    "fvTenant": {
      "attributes": {
        "dn": "uni/tn-Testing_Ansible",
        "status": "modified"
      },
      "children": [
                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_754",
              "name": "BD_754",
              "descr": "EDMZ-ESX-TEST2",
              "rn": "BD-BD_754",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.113/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_700",
              "name": "BD_700",
              "descr": "CORE-EBS",
              "rn": "BD-BD_700",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.3.1/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_712",
              "name": "BD_712",
              "descr": "SVR-GMH27",
              "rn": "BD-BD_712",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.27.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_726",
              "name": "BD_726",
              "descr": "172-020-022-208-EDI-GW-U",
              "rn": "BD-BD_726",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.209/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_752",
              "name": "BD_752",
              "descr": "EDMZ-Pen-Int",
              "rn": "BD-BD_752",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.41/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_761",
              "name": "BD_761",
              "descr": "",
              "rn": "BD-BD_761",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.36.129/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_762",
              "name": "BD_762",
              "descr": "",
              "rn": "BD-BD_762",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.17.65/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_728",
              "name": "BD_728",
              "descr": "172-020-017-000-LOBSTER-ENV",
              "rn": "BD-BD_728",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.17.1/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_730",
              "name": "BD_730",
              "descr": "EDMZ-EURO-ESX",
              "rn": "BD-BD_730",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.88.33/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_736",
              "name": "BD_736",
              "descr": "SDDC",
              "rn": "BD-BD_736",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.1/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_749",
              "name": "BD_749",
              "descr": "EDMZ-GSM",
              "rn": "BD-BD_749",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.9/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_715",
              "name": "BD_715",
              "descr": "CITRIX TEST",
              "rn": "BD-BD_715",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.3.193/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_714",
              "name": "BD_714",
              "descr": "SVR-INST",
              "rn": "BD-BD_714",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.3.129/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_720",
              "name": "BD_720",
              "descr": "DEV-TEST",
              "rn": "BD-BD_720",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.12.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_739",
              "name": "BD_739",
              "descr": "DC-MGMT",
              "rn": "BD-BD_739",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.129/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_729",
              "name": "BD_729",
              "descr": "EDMZ-WG-MGMT",
              "rn": "BD-BD_729",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.88.1/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_748",
              "name": "BD_748",
              "descr": "Nexus_Management",
              "rn": "BD-BD_748",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.255.233/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_705",
              "name": "BD_705",
              "descr": "NetScaler VIPs",
              "rn": "BD-BD_705",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.14.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_760",
              "name": "BD_760",
              "descr": "",
              "rn": "BD-BD_760",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.36.1/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_743",
              "name": "BD_743",
              "descr": "DE-SVR",
              "rn": "BD-BD_743",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.29.129/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_719",
              "name": "BD_719",
              "descr": "CORE",
              "rn": "BD-BD_719",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.1.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_727",
              "name": "BD_727",
              "descr": "172-020-022-224-EDI-GW-S",
              "rn": "BD-BD_727",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.225/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_747",
              "name": "BD_747",
              "descr": "EDMZ-VOIP",
              "rn": "BD-BD_747",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.2.177/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_741",
              "name": "BD_741",
              "descr": "VUL-SCAN",
              "rn": "BD-BD_741",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.2.89/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_746",
              "name": "BD_746",
              "descr": "EDMZ-DCS-V8",
              "rn": "BD-BD_746",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.2.121/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_744",
              "name": "BD_744",
              "descr": "Kubernetes",
              "rn": "BD-BD_744",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.30.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_722",
              "name": "BD_722",
              "descr": "172-020-016-064-EDI-UAT",
              "rn": "BD-BD_722",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.16.65/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_733",
              "name": "BD_733",
              "descr": "EDMZ-EURO-WLC",
              "rn": "BD-BD_733",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.19.6.1/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_708",
              "name": "BD_708",
              "descr": "Shared-Desk",
              "rn": "BD-BD_708",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.23.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_750",
              "name": "BD_750",
              "descr": "EDMZ-VMotion",
              "rn": "BD-BD_750",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.225/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_724",
              "name": "BD_724",
              "descr": "172-020-016-192-EDI-DEV",
              "rn": "BD-BD_724",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.16.193/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_731",
              "name": "BD_731",
              "descr": "EDMZ-EURO-ESX-TEST",
              "rn": "BD-BD_731",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.88.65/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_725",
              "name": "BD_725",
              "descr": "172-020-022-192-EDI-GW-P",
              "rn": "BD-BD_725",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.193/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_716",
              "name": "BD_716",
              "descr": "XEN-SERVER Cluster",
              "rn": "BD-BD_716",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.4.1/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_718",
              "name": "BD_718",
              "descr": "ISE-TransNet",
              "rn": "BD-BD_718",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.31.65/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_745",
              "name": "BD_745",
              "descr": "EDMZ-DCS",
              "rn": "BD-BD_745",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.2.113/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_740",
              "name": "BD_740",
              "descr": "EDMZ-Zool",
              "rn": "BD-BD_740",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.57/29",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_735",
              "name": "BD_735",
              "descr": "ARCHIV-OLD",
              "rn": "BD-BD_735",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.20.129/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_713",
              "name": "BD_713",
              "descr": "SVR-GMH28",
              "rn": "BD-BD_713",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.28.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_757",
              "name": "BD_757",
              "descr": "NETWORK-Management",
              "rn": "BD-BD_757",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.32.1/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_737",
              "name": "BD_737",
              "descr": "Portal_Test",
              "rn": "BD-BD_737",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.65/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_711",
              "name": "BD_711",
              "descr": "SVR-OSN26",
              "rn": "BD-BD_711",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.26.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_755",
              "name": "BD_755",
              "descr": "EBS-ESX-SERVER Cluster VMotion",
              "rn": "BD-BD_755",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.129/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_753",
              "name": "BD_753",
              "descr": "EDMZ-WUG",
              "rn": "BD-BD_753",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.193/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_710",
              "name": "BD_710",
              "descr": "SVR-OSN25",
              "rn": "BD-BD_710",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.25.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_717",
              "name": "BD_717",
              "descr": "EBS-ESX-SERVER Cluster",
              "rn": "BD-BD_717",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.4.65/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_742",
              "name": "BD_742",
              "descr": "HSC-SVR",
              "rn": "BD-BD_742",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.29.1/25",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_734",
              "name": "BD_734",
              "descr": "172-19-000-000-EU-SRV",
              "rn": "BD-BD_734",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.19.0.1/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_703",
              "name": "BD_703",
              "descr": "CORE-OLD",
              "rn": "BD-BD_703",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.7.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_759",
              "name": "BD_759",
              "descr": "",
              "rn": "BD-BD_759",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.17.49/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_756",
              "name": "BD_756",
              "descr": "NetScaler IPs - NSIP",
              "rn": "BD-BD_756",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.161/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_723",
              "name": "BD_723",
              "descr": "172-020-016-128-EDI-SIT",
              "rn": "BD-BD_723",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.16.129/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_709",
              "name": "BD_709",
              "descr": "Shared-Appl",
              "rn": "BD-BD_709",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.24.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_738",
              "name": "BD_738",
              "descr": "Portal_Live",
              "rn": "BD-BD_738",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.22.97/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_706",
              "name": "BD_706",
              "descr": "SVR-MGMT1",
              "rn": "BD-BD_706",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.18.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_758",
              "name": "BD_758",
              "descr": "Oracle_MGMT",
              "rn": "BD-BD_758",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.17.33/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_701",
              "name": "BD_701",
              "descr": "NOC",
              "rn": "BD-BD_701",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.5.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_707",
              "name": "BD_707",
              "descr": "SVR-MGMT2",
              "rn": "BD-BD_707",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.19.1/24",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_751",
              "name": "BD_751",
              "descr": "EDMZ-ESX-TEST",
              "rn": "BD-BD_751",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.11.209/28",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_732",
              "name": "BD_732",
              "descr": "EDMZ-EURO-ESX-USER",
              "rn": "BD-BD_732",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.88.97/27",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
        ,                {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-Testing_Ansible/BD-BD_721",
              "name": "BD_721",
              "descr": "172-020-016-000-EDI-PROD",
              "rn": "BD-BD_721",
              "status": "created,modified"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "Ansible_vrf"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "172.20.16.1/26",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "created,modified"
                  }
                }
              }
            ]
          }
        }
                        ,
        {
          "fvCtx": {
            "attributes": {
              "dn": "uni/tn-Testing_Ansible/ctx-Ansible_vrf",
              "name": "Ansible_vrf",
              "rn": "ctx-Ansible_vrf",
              "status": "modified"
            },
            "children": []
          }
        }
      ]
    }
  }
}
