{
  "payload": {
    "fvAp": {
      "attributes": {
        "name": "{{ ap_name }}",
        "dn": "uni/tn-{{ tenant_name }}/ap-{{ ap_name }}",
        "status": "created,modified"
      },
      "children": [
        {% for epg in epgs %}
        {
          "fvAEPg": {
            "attributes": {
              "name": "{{ epg.name }}",
              "dn": "uni/tn-{{ tenant_name }}/ap-{{ ap_name }}/epg-{{ epg.name }}",
              "nameAlias": "{{ epg.alias }}",
              "descr": "{{ epg.description }}",
              "status": "created,modified"
            },
            "children": [
            {
              "fvRsBd": {
                "attributes": {
                  "status": "created,modified",
                  "tnFvBDName": "{{ epg.BD_name }}"
                },
                "children": []
              }
            }
          ]

          }
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  }
}
