{
  "payload": {
    "fvTenant": {
      "attributes": {
        "dn": "uni/tn-{{ tenant_name }}",
        "status": "created,modified"
      },
      "children": [
        {% for bd in bds %}
        {
          "fvBD": {
            "attributes": {
              "arpFlood": "true",
              "dn": "uni/tn-{{ tenant_name }}/BD-{{ bd.name }}",
              "name": "{{ bd.name }}",
              "descr": "{{ bd.description }}",
              "rn": "BD-{{ bd.name }}",
              "status": "{{ bd.status }}"
            },
            "children": [
              {
                "fvRsCtx": {
                  "attributes": {
                    "status": "created,modified",
                    "tnFvCtxName": "{{ vrf_name }}"
                  },
                  "children": []
                }
              },
              {
                "fvSubnet": {
                  "attributes": {
                    "ctrl": "nd",
                    "descr": "",
                    "ip": "{{ bd.ip }}",
                    "ipDPLearning": "enabled",
                    "name": "",
                    "nameAlias": "",
                    "preferred": "no",
                    "scope": "private",
                    "userdom": ":all:",
                    "virtual": "no",
                    "status": "{{ bd.status }}"
                  }
                }
              }
            ]
          }
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
        ,
        {
          "fvCtx": {
            "attributes": {
              "dn": "uni/tn-{{ tenant_name }}/ctx-{{ vrf_name }}",
              "name": "{{ vrf_name }}",
              "rn": "ctx-{{ vrf_name }}",
              "status": "modified,created"
            },
            "children": []
          }
        }
      ]
    }
  }
}
